<% include partials/header.ejs %>
    <h2>Visit of <a href="/clients/123">Vasya Pupkin</a></h2>
    <table>
        <thead>
            <th>Date</th>
            <th>Time</th>
            <th>Type of Service</th>
            <th>Note</th>
            <th>Cost</th>
            <th>Duration</th>
        </thead>
        <tbody>
        <tr>
            <td>18.05.2019</td>
            <td>14:00</td>
            <td>haircut</td>
            <td>Standard man haircut </td>
            <td>80 UAH</td>
            <td>0.25 h</td>
        </tr>
        <tr>
            <td></td>
            <td><button onclick="window.location.href='/clients/123/visits/456/edit'">Update visit</button></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
