<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Clients</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Hairdresser's Clients</a>
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients">My Clients</a>
            </li>
        </ul>
    </div>
    <a class="navbar-right" href="/login">Log out</a>
</nav>
<br>
<form>
    <input id="your-clients-filter" name="q" placeholder="Find a client..." type="search">
     <a class="btn" href="/clients/add" style="width:auto; background-color: #4CAF50; color: white; border: none">New client</a>
</form>
<div class="clients-list">
    <% if (clients.length > 0) {%>
        <ul>
            <% clients.forEach((client, index) => { %>
                <li>
                    <a href="/clients/<%= client.id %>"><%= client.name %> <%= client.surname %></a>
                </li>
            <% }) %>

        </ul>
    <% } else { %>
        <p class="text-center">No clients found. Go <a href="/clients/add" >here</a> to add clients.</p>
    <% } %>
</div>
</body>
</html>
