<% include partials/header.ejs %>
<br>
<form>
    <input id="your-clients-filter" name="q" placeholder="Find a client..." type="search">
     <a class="btn" href="/clients/add" style="width:auto; background-color: #4CAF50; color: white; border: none">New client</a>
</form>
<div class="clients-list">
    <% if (clients.length > 0) {%>
        <ul>
            <% clients.forEach((client, index) => { %>
                <li>
                    <a href="/clients/<%= client.id %>"><%= client.name %> <%= client.surname %></a>
                </li>
            <% }) %>

        </ul>
    <% } else { %>
        <p class="text-center">No clients found. Go <a href="/clients/add" >here</a> to add clients.</p>
    <% } %>
</div>
</body>
</html>
