<% include partials/header.ejs %>
    <div class="contact-info">
        <table>
            <tr>
                <td colspan="2"> <img src="/multimedia/avatar1.png" alt="Photo" title="User's avatar"
                                      height="30%" width="30%"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Vasilisa</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>Litvinova</td>
            </tr>
            <tr>
                <td>Tel.</td>
                <td>+3806611111111</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>vasilhairdresser@gmail.com</td>
            </tr>
        </table>
        <button>Edit profile</button>
    </div>

</body>
</html>
