<% include partials/header.ejs %>
<br>
<form class="form-content">
    <div class="container">
        <h1>New client</h1>
        <p>Please fill in this form to add new client.</p>
        <hr>
        <div class="imgcontainer">
            <img src="/multimedia/avatar1.png" alt="Avatar" class="avatar" height="30%" width="30%">
        </div>

        <div>
            <label><b>Gender</b></label><br>
            <input checked="checked" name="gender" type="radio" value="female"> Female
            <input name="gender" type="radio" value="male">Male
        </div>

        <label><b>Name</b></label>
        <input name="name" placeholder="Enter Name" required type="text">

        <label><b>Surname</b></label>
        <input name="surnname" placeholder="Enter Surname" required type="text">

        <label><b>Email</b></label>
        <input name="email" placeholder="Enter Email" required type="text">

        <label><b>Tel.</b></label>
        <input name="phone" placeholder="Enter Phone Number" required type="tel">

        <div class="clearfix">
            <button class="cancelbtn" onclick="window.location.href='/clients'" type="button">
                Cancel
            </button>
            <button class="signupbtn" type="submit">Add</button>
        </div>
    </div>
</form>
</body>
</html>
