<% include partials/header.ejs %>
<form class="form-content">

    <div class="container">
        <h1>Visit of <a href="/clients/123">Vasya Pupkin</a></h1>
        <p>Please fill in this form to add new visit</p>
        <hr>
        <label><b>Date</b></label>
        <input name="date" placeholder="Enter Date" required type="date">

        <label><b>Time</b></label>
        <input name="time" placeholder="Enter Time" required type="time">

        <label><b>Type of Service</b></label>
        <input name="typeOfService" placeholder="Enter Type of Service" type="text">



        <label><b>Cost (in UAH)</b></label>
        <input name="cost" placeholder="Enter Price" type="text">

        <label><b>Duration (in h)</b></label>
        <input name="duration" placeholder="Enter Duration" type="text">

        <div class="clearfix">
            <button class="cancelbtn" onclick="window.location.href='/clients/123'" type="button">
                Cancel
            </button>
            <button class="signupbtn" type="submit">Add</button>
        </div>
    </div>
</form>
</body>
</html>
