.header-info {
    font-size: 2em;
    text-align: right;
}

.bg-dark {
    background-color: #653182 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}
